.search_container{
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1.5rem;
}

.search{
    border: none;
    background-color: lightgray;
    width: 95%;
}

.search:focus{
    outline: none;
}
